name: check MANIFEST.in
on: pull_request

jobs:
  check-manifest:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Source
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: installalation
      run: |
        python -m pip install --upgrade pip
        python -m pip install check-manifest
        python -m pip install .
    - name: run check-manifest
      run:  check-manifest -vvv --ignore src/yt_napari/_version.py
